<template>
    <lightning-card title="Upload Quiz">
        <div class="slds-p-around_medium">
            <lightning-input
                type="text"
                name="quizNameInput"
                label="Quiz Name"
                onchange={handleChange}>
            </lightning-input>
            <lightning-input
                type="number"
                name="timeLimitInput"
                label="Time Limit"
                onchange={handleChange}>
            </lightning-input>
            <lightning-file-upload
                label="Select File"
                name="fileUploader"
                accept={acceptedFormats}
                onuploadfinished={handleUploadFinished}
                disabled={uploadDisabled}>
            </lightning-file-upload>
        </div>
    </lightning-card>
</template>