<template>
    <div class="slds-align_absolute-center">
        <div class="slds-box" style="max-width: 70%; min-width: 40%">
            <div class="slds-text-heading_large slds-text-align_center slds-m-bottom_large">
                Results
            </div>
        
            <lightning-layout multiple-rows="true">
                <lightning-layout-item size="3"></lightning-layout-item>
                <lightning-layout-item size="3">
                    <div class="slds-text-title_bold">Time: </div>
                </lightning-layout-item>
                <lightning-layout-item size="3">
                    <div class="slds-text-body_regular">{timeElapsed}</div>
                </lightning-layout-item>
                <lightning-layout-item size="3"></lightning-layout-item>
        
                <lightning-layout-item size="3"></lightning-layout-item>
                <lightning-layout-item size="3">
                    <div class="slds-text-title_bold">Correct: </div>
                </lightning-layout-item>
                <lightning-layout-item size="6"></lightning-layout-item>

                <template for:each={topicScore} for:item="eachTopic">
                    <lightning-layout-item size="12" key={eachTopic.label}>
                        <lightning-layout multiple-rows="true">
                            <lightning-layout-item size="4"></lightning-layout-item>
                            <lightning-layout-item size="2">
                                <div class="slds-text-title_bold">{eachTopic.label}</div>
                            </lightning-layout-item>
                            <lightning-layout-item size="3">
                                <div class="slds-text-body_regular">{eachTopic.numberCorrect} / {eachTopic.numberTotal}</div>
                            </lightning-layout-item>
                            <lightning-layout-item size="3"></lightning-layout-item>
                        </lightning-layout>
                    </lightning-layout-item>
                </template>

                <lightning-layout-item size="4"></lightning-layout-item>
                <lightning-layout-item size="2">
                    <div class="slds-text-color_success">Total</div>
                </lightning-layout-item>
                <lightning-layout-item size="3">
                    <div class="slds-text-color_success">{amountCorrectLabel}</div>
                </lightning-layout-item>
                <lightning-layout-item size="3" padding="around-large"></lightning-layout-item>

                <lightning-layout-item size="3"></lightning-layout-item>
                <lightning-layout-item size="3">
                    <div class="slds-text-title_bold">Score: </div>
                </lightning-layout-item>
                <lightning-layout-item size="3">
                    <div class="slds-text-body_regular">{scoreLabel}</div>
                </lightning-layout-item>
                <lightning-layout-item size="3"></lightning-layout-item>
        
            </lightning-layout>

            <div class="slds-align_absolute-center slds-m-top_large">
                <lightning-button variant="neutral" title="Try Other Quiz" class="slds-m-horizontal_medium"
                                    label="Try Other Quiz" onclick={handleTryOther}></lightning-button>
                <lightning-button variant="brand" title="Try Again?" class="slds-m-horizontal_medium"
                                    label="Try Again?" onclick={handleTryAgain}></lightning-button>
            </div>

        </div>

    </div>
    
    
        
</template>