<template>
    <template if:true={showRegisterForm}>
        <c-quiz-app-register-form
            options={questionSets}
            input-email={inputEmail}
            onsetchange={handleQuestionSetChange}
            onsubmitemail={handleSubmitEmail}>
        </c-quiz-app-register-form>
    </template>

    <template if:true={questionData}>
        <c-quiz-app-body
            questions={questionData.questions}
            participant-answers={participantAnswers}
            checked-answers={checkedAnswers}
            time-limit={timeLimit}
            onsubmitquiz={handleSubmitQuiz}
            onresetquiz={handleResetQuiz}
            onanswerchange={handleAnswerChange}
            ontryother={handleTryOther}>
        </c-quiz-app-body>
    </template>

</template>
