<template>
    <template if:true={questionData}>
        <div class={rowClass}>
            <lightning-layout>
                
                <lightning-layout-item size="1">
                    <template if:true={checkedAnswers}>
                        <div class="slds-align_absolute-center slds-m-top_medium">
                            <lightning-icon icon-name={iconName} alternative-text="Correct" title="Correct"></lightning-icon>
                        </div>
                    </template>
                </lightning-layout-item>

                <lightning-layout-item size="11">
                    <lightning-radio-group
                            label={questionText}
                            options={answerOptions}
                            value={selectedAnswer}
                            type="radio"
                            disabled={isReadOnly}
                            oncontextmenu={handleContext}
                            oncopy={handleCopy}
                            onchange={handleChange}>
                    </lightning-radio-group>
                </lightning-layout-item>

            </lightning-layout>
            
        </div>
    </template>
</template>