<template>
    <lightning-card title="Quiz" icon-name="standard:all">

        <div class="slds-p-around_small">
            
            <lightning-layout class="slds-m-bottom_large">
                <lightning-layout-item size="1"></lightning-layout-item>
                <lightning-layout-item size="5">
                    <lightning-slider
                        label="Questions Per Page"
                        size="x-small"
                        min=1
                        max=20
                        value={questionsPerPage}
                        onchange={handleQuestionsPerPageChange}>
                    </lightning-slider>
                </lightning-layout-item>
                <lightning-layout-item size="5">
                    <div class="slds-text-heading_large slds-text-align_right">
                        {timeElapsed}
                    </div>
                </lightning-layout-item>
                <lightning-layout-item size="1"></lightning-layout-item>

            </lightning-layout>

            <template for:each={displayedQuestions} for:item="question">
                <c-quiz-app-question key={question.Id}
                    question-data={question}
                    participant-answers={participantAnswers}
                    checked-answers={checkedAnswers}
                    onanswerchange={handleAnswerChange}>
                </c-quiz-app-question>
            </template>
        </div>

        <div class="slds-align_absolute-center slds-m-bottom_medium">
            <lightning-button-icon icon-name="utility:left" alternative-text="Previous Page" title="Previous Page" class="slds-m-horizontal_xx-small"
                onclick={handlePageChange} name="previous" disabled={previousDisabled}></lightning-button-icon>
            <lightning-button-icon icon-name="utility:right" alternative-text="Next Page" title="Next Page" class="slds-m-horizontal_xx-small"
                onclick={handlePageChange} name="next" disabled={nextDisabled}></lightning-button-icon>
        </div>

        <template if:true={checkedAnswers}>
            <c-quiz-app-summary
                checked-answers={checkedAnswers}
                time-elapsed={timeElapsed}
                questions={questions}
                onreset={handleReset}
                ontryother={handleTryOther}>
            </c-quiz-app-summary>
        </template>

        <template if:false={checkedAnswers}>
            <div class="slds-clearfix">
                <div class="slds-float_right">
                    <lightning-button variant="nuetral" label="Reset" title="Reset" onclick={handleReset} class="slds-m-horizontal_large"></lightning-button>
                    <lightning-button variant="brand" label="Submit" title="Submit" onclick={handleSubmit} class="slds-m-horizontal_large"></lightning-button>
                </div>
            </div>
        </template>

    </lightning-card>

    <!-- Reset Quiz Modal -->
    <template if:true={showResetModal}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={handleCancelRegister}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Reset Quiz</h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium slds-text-body_regular slds-text-align_center" id="modal-content-id-1">
                    Are you sure you want to reset the quiz? All of your current answers will be lost.
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <lightning-button variant="neutral" onclick={handleCancelReset} class="slds-m-horizontal_medium" 
                                        title="Cancel" label="Cancel"></lightning-button>
                    <lightning-button variant="destructive" onclick={handleConfirmReset} class="slds-m-horizontal_medium"
                                        title="Reset Quiz" label="Reset Quiz"></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>